<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>University</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Go to Quiz</a>
</body>
</html>
